$tablet-width: 768px;
$box-shadow: 0 10px 12px rgba(0, 0, 0, 0.1);

$font-primary: "open sans", sans-serif;
$font-headings: montserrat, sans-serif;

$colours: (
    primary: #000022,
    secondary: #059f81,
    accent: #e28413,
    light-grey: #f2f2f2,
    dark-grey: #2c2c2c,
);

@function getColour($colour) {
    @return map-get($colours, $colour);
}
