* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    background: $light-gray; 
    display: flex;
    flex-direction: column;

}

.wrapper {
    flex: 1 0 auto;
}

.container {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
}

.col {
    flex: 1;
}