/* COLORS
---------- */

$dark-gray: #2c2c2c;
$light-gray: #f2f2f2;
$orange: #e28413;
$blue-black: #000022;
$dark-green: #036754;
$turquoise: #059f81;

$font-primary: "Open sans", sans-serif;
$font-headings: "Montserrat", sans-serif;